<!--
# <%= form_for @req do |f| %>
#   <div class: "form-group">
#   <%= f.label "Name" %>
#   <%= f.text_field :name, class: "form-control" %>
#   </div>
#   <div class: "form-group">
#   <%= f.label :email %>
#   <%= f.text_field :email, class: "form-control" %>
#   </div>
#   <div class: "form-group">
#   <%= f.label :dept %>
#   <%#= f.collection_check_boxes :dept_ids, Dept.all, :id, :name %>
#   </div>
#   <div class: "form-group">
#   <%= f.label :msg %>
#   <%= f.text_area :msg, class: "form-control" %>
#   </div>
#   <p></p>
#   <%= f.submit %>
# <% end %>
-->

<%= simple_form_for @req, html: {class: "form-horizontal"} do |f| %>
  <%= f.input :name, inline_label: "Name", placeholder: "input your name here" %>
  <%= f.input :email %>
  <%= f.association :dept, as: :radio_buttons, label: "Department", input_html: { style: "display: inline" }  %>
  <%= f.input :msg, label: "Message", placeholder: "input your request message here" %>
  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>