<div class="col-md-12 heading-wrapper">
  <div class="heading col-md-7">
    <h1>Support Requests</h1>
  </div>
  <div class="search-bar col-md-5">
    <%= form_tag(requests_path, :method => "get", id: "search-form", class: "pull-right") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Requests" %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>
  </div>
</div>

<table class="table table-striped table-bordered table-hover table-responsive">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Department</th>
    <th>Message</th>
    <th class="action-column">Actions</th>
  </tr>
  <% @req_lists.each do |q| %>
    <tr>
      <td><%= q.name %></td>
      <td><a href="mailto:<%= q.email %>"><%= q.email %></td>
      <td>
        <% if q.dept != nil %>
          <%= q.dept.name %>
        <% end %>
      </td>
      <td><%= q.msg %></td>
      <td><%= link_to "Edit", edit_request_path(q), method: :get, class: "btn btn-info btn-xs" %> |
          <%= link_to "Delete", request_path(q), method: :delete, class: "btn btn-danger btn-xs" %> |
          <% if q.done? %>
            <%= link_to "done", request_path(q, 
              request: { done: false }), method: :patch, class: "btn btn-success btn-xs" %>
          <% else %>
            <%= link_to "undone", request_path(q, 
              request: { done: true }), method: :patch, class: "btn btn-warning btn-xs" %>
          <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate @req_lists %>
