<h1>Support Requests</h1>

<table class="table table-striped table-bordered table-hover table-responsive">
  <tr>
    <th>Name:</th>
    <th>Email:</th>
    <th>Dept:</th>
    <th>Message:</th>
    <th>Actions:</th>
  </tr>

  <% @req_lists.each do |q| %>
    <tr>
      <td><%= q.name %></td>
      <td><%= q.email %></td>
      <td><%= q.dept %></td>
      <td><%= q.msg %></td>
      <td><%= link_to "Edit", edit_request_path(q), metdod: :get, class: "btn btn-info" %> |
          <%= link_to "Delete", request_path(q), method: :delete, class: "btn btn-danger" %> |
          <% done_button_string = q.done ? "Done" : "Not Done" %>
          <%= link_to done_button_string, edit_request_path(q), method: :get, class: "btn btn-primary" %>
      </td>
    </tr>
  <% end %>

</table>
