<h1>Support Requests</h1>

<table class="table table-striped table-bordered table-hover table-responsive">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Department</th>
    <th>Message</th>
    <th>Actions</th>
  </tr>


  <%= will_paginate @req_lists %>

  <% @req_lists.each do |q| %>
    <tr>
      <td><%= q.name %></td>
      <td><a href="mailto:<%= q.email %>"><%= q.email %></td>
      <td>
        <% if q.dept != nil %>
          <%= q.dept.name %>
        <% end %>
      </td>
      <td><%= q.msg %></td>
      <td><%= link_to "Edit", edit_request_path(q), method: :get, class: "btn btn-info" %> |
          <%= link_to "Delete", request_path(q), method: :delete, class: "btn btn-danger" %> |

          <% if q.done? %>
            <%= link_to "done", request_path(q, 
              request: { done: false }), method: :patch, class: "btn btn-success" %>
          <% else %>
            <%= link_to "undone", request_path(q, 
              request: { done: true }), method: :patch, class: "btn btn-warning" %>
          <% end %>

      </td>
    </tr>
  <% end %>

</table>
