<h1>Support Request</h1>

<p>Requestor Name: <%= @req.name %></p>
<p>Requestor Email: <%= @req.email %></p>
<p>Requestor Dept: <%= @req.dept %></p>
<p>Request Message: <%= @req.msg %></p>
<p>Request Status: <%= @req.done ? "Done" : "Not Done" %></p>

<%= link_to "Edit", edit_request_path(@req) %>
<%= link_to "DeleteQ", request_path(@req), method: :delete, data: {confirm: "are you sure?"} %>
