<!DOCTYPE html>
<html>
  <head>
    <title>Support</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <%=link_to "New Request", new_request_path %> |
      <%=link_to "Request Index", requests_path %> |

      <p></p>

      <!-- flash notice and alert for gem 'devise' usage -->
      <%#= flash[:notice] || flash[:alert] %>
      <% flash.each do |name, msg| %>
        <% if name=="notice" %>
                <%= content_tag :div, msg, class: "alert alert-info", role: "alert" %>
        <% elsif name=="alert" %>
                <%= content_tag :div, msg, class: "alert alert-warning", role: "alert" %>
        <% elsif name=="error" %>
                <%= content_tag :div, msg, class: "alert alert-danger", role: "alert" %>
        <% else %>
                <%= content_tag :div, msg, class: "alert alert-info", role: "alert" %>
        <% end %>
      <% end %>

      <p></p>

      <%= yield %>
    
    </div>
  </body>
</html>
